
<div class="modal fade" id="OneMoreTyresFlat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content shadow-lg p-3 mb-5 bg-white rounded">
            <div class="modal-header">
                <h4 style="color:#4B4B4B;" class="modal-title" id="exampleModalLabel"><b>Indicate flat tires.</b><span style="font-size: 18px; color: #4B4B51"> (Select all that apply)</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body py-0 px-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-6 px-0 column" style="border-right: 1px dotted #f00; border-bottom: 1px dotted #f00; cursor: pointer;">
                            <div id="demo" class="overlays" onclick="Checked(this.id)">
                                <p class="px-3 py-1 text-center car-heading">DRIVER-SIDE-FRONT</p>
                                <div class="d-flex justify-content-end"><img src="~/Content/Frontassets/images/Car/1.png"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-6 px-0 column" style="border-bottom: 1px dotted #f00; cursor: pointer;">
                            <div id="demo1" class="overlays" onclick="Checked(this.id)">
                                <p class="px-3 py-1 text-center car-heading">PASSENGER-SIDE-FRONT</p>
                                <div class="d-flex justify-content-start"><img src="~/Content/Frontassets/images/Car/2.png"></div>
                            </div>
                        </div>


                        <div class="col-md-6 col-6 px-0 column" style="border-right: 1px dotted #f00; cursor: pointer;">
                            <div id="demo2" class="overlays" onclick="Checked(this.id)">
                                <div class="d-flex justify-content-end"><img src="~/Content/Frontassets/images/Car/3.png"></div>
                                <p class="px-3 py-1 mt-2 text-center car-heading">DRIVER-SIDE-REAR</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-6 px-0 column" style="cursor: pointer;">
                            <div id="demo3" class="overlays" onclick="Checked(this.id)">
                                <div class="d-flex justify-content-start"><img src="~/Content/Frontassets/images/Car/4.png"></div>
                                <p class="px-3 py-1 mt-2 text-center car-heading">PASSENGER-SIDE-REAR</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="OneMoreFieldsRemoved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content shadow-lg p-3 mb-5 bg-white rounded">
            <div class="modal-header">
                <h4 style="color:#4B4B4B;" class="modal-title" id="exampleModalLabel"><b>Indicate Wheel Remove.</b><span style="font-size: 18px; color: #4B4B51"> (Select all that apply)</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body py-0 px-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-6 px-0 column" style="border-right: 1px dotted #f00; border-bottom: 1px dotted #f00; cursor: pointer;">
                            <div id="demo4" class="overlays" onclick="Checked(this.id)">
                                <p class="px-3 py-1 text-center car-heading">DRIVER-SIDE-FRONT</p>
                                <div class="d-flex justify-content-end"><img src="~/Content/Frontassets/images/Car/1.png"></div>
                            </div>
                        </div>

                        <div class="col-md-6 col-6 px-0 column" style="border-bottom: 1px dotted #f00; cursor: pointer;">
                            <div id="demo5" class="overlays" onclick="Checked(this.id)">
                                <p class="px-3 py-1 text-center car-heading">PASSENGER-SIDE-FRONT</p>
                                <div class="d-flex justify-content-start"><img src="~/Content/Frontassets/images/Car/2.png"></div>
                            </div>
                        </div>


                        <div class="col-md-6 col-6 px-0 column" style="border-right: 1px dotted #f00; cursor: pointer;">
                            <div id="demo6" class="overlays" onclick="Checked(this.id)">
                                <div class="d-flex justify-content-end"><img src="~/Content/Frontassets/images/Car/3.png"></div>
                                <p class="px-3 py-1 mt-2 text-center car-heading">DRIVER-SIDE-REAR</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-6 px-0 column" style="cursor: pointer;">
                            <div id="demo7" class="overlays" onclick="Checked(this.id)">
                                <div class="d-flex justify-content-start"><img src="~/Content/Frontassets/images/Car/4.png"></div>
                                <p class="px-3 py-1 mt-2 text-center car-heading">PASSENGER-SIDE-REAR</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm custom-padding">
        <div class="row p-3">
            <div class="col-md-6">
                <div class="row text-center">
                    <div class="col-md-12">
                        <img src="~/Content/Frontassets/images/OfferForm/02.png" class="image-size" />
                    </div>
                    <div class="col-md-12">
                        <img src="~/Content/Frontassets/images/car-img-03.png" class="image-size" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Get Instant Offer</h3>
                <br />
                <div class="form-group">

                    <label class="control-label">Enter Zip Code <span class="text-danger">*</span></label>
                    <input type="text" onkeyup="findLocation()" class="form-control" id="ZipCode" name="ZipCode" placeholder="Enter Zip Code" />
                    <img id="loadImg" src='~/Content/assets/images/loading.gif' width='40' style="position: fixed; margin-top: -2%; margin-left: -3%; display: none " />
                    <span class="text-danger" id="location1"></span>   <span class="text-success" id="location"></span>

                    @*<label class="control-label">Enter Zip Code</label>
                        <input type="text" class="form-control" id="ZipCode" name="ZipCode">
                        <button class="btn btn-secondary mt-1"><i class="fa fa-map-marker text-danger"></i>
                                 &nbsp; MY LOCATION
                        </button>*@
                </div>
                @*<div class="form-group">
                    <label class="control-label">Are the wheels mounted and tired inflated?</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline1" value="All Wheels are mounted" name="Mountedtires" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">All Wheels are mounted</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline2" value="One or more tyres are flat" name="Mountedtires" class="custom-control-input" data-toggle="modal" data-target="#OneMoreTyresFlat">
                        <label class="custom-control-label" for="customRadioInline2">One or more tyres are flat</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline3" value="One or more wheels are removed" name="Mountedtires" class="custom-control-input" data-toggle="modal" data-target="#OneMoreFieldsRemoved">
                        <label class="custom-control-label" for="customRadioInline3">One or more wheels are removed</label>
                    </div>
                </div>

                <div class="form-group" style="display:none">
                    <input type="checkbox" id="DriverFront" value="" style="" name="OneMoreTyresFlat" />
                    <input type="checkbox" id="PassengerFront" value="" style="" name="OneMoreTyresFlat" />
                    <input type="checkbox" id="DriverRear" value="" style="" name="OneMoreTyresFlat" />
                    <input type="checkbox" id="PassengerRear" value="" style="" name="OneMoreTyresFlat" />


                    <input type="checkbox" id="WheelsDriverFront" value="" style="" name="OneMoreWheelsRemoved" />
                    <input type="checkbox" id="WheelsPassengerFront" value="" style="" name="OneMoreWheelsRemoved" />
                    <input type="checkbox" id="WheelsDriverRear" value="" style="" name="OneMoreWheelsRemoved" />
                    <input type="checkbox" id="WheelsPassengerRear" value="" style="" name="OneMoreWheelsRemoved" />
                </div>*@

                <div class="form-group">
                    <label class="control-label">Select the body style of car <span class="text-danger">*</span></label>
                    <select class="custom-select" name="BodyStyleOfCar" id="BodyStyleOfCar">

                        <option selected value="">Open this select menu</option>

                        <option value="Sedan/Saloon">Sedan/Saloon</option>
                        <option value="Microcar">Microcar</option>
                        <option value="Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)">SUV / MPV</option>
                        <option value="Hatchback">Hatchback</option>
                        <option value="Roadster">Roadster</option>
                        <option value="Station Wagon">Station Wagon</option>
                        <option value="Pickup">Pickup</option>
                        <option value="Van">Van</option>
                        <option value="Coupe">Coupe</option>
                        <option value="Supercar">Supercar</option>
                        <option value="Sports Cars">Sports Car</option>
                        <option value="Luxury Cars">Luxury Car</option>
                        <option value="Muscle Cars">Muscle Car</option>
                        <option value="Camper Van">Camper Van</option>
                        <option value="Mini Truck">Mini Truck</option>
                        <option value="Cabriolet">Cabriolet</option>
                        <option value="Minivan">Minivan</option>
                        <option value="Truck">Truck</option>
                        <option value="Limousine">Limousine</option>

                    </select>
                </div>


                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <a onclick="PreviousPage(2)" class="text-danger"><span class="angle_arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></span> Back </a>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <a onclick="NextPage(2)" class="float-right text-danger"> Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZXUxsPREgv13fH4iD1_Nmj624kdMvhw4&callback=initAutocomplete&libraries=geometry,places&v=weekly"
        defer>
</script>

<script>


    //       AIzaSyBZXUxsPREgv13fH4iD1_Nmj624kdMvhw4
    var api = 'https://maps.googleapis.com/maps/api/geocode/json';

    var button = document.getElementById('ajax-button');
    //button.addEventListener("click", findLocation());

    function findLocation() {

        var ZipCode = document.getElementById('ZipCode').value;
        var url = api + "?address=" + ZipCode + "&key=AIzaSyBZXUxsPREgv13fH4iD1_Nmj624kdMvhw4";
        var geocoder = new google.maps.Geocoder();
        $("#loadImg").show();
        geocoder.geocode({ 'address': ZipCode }, function (results, status) {
            if (status == 'OK') {
                var x = results[0].formatted_address;
                //var x = results[0].postcode_localities;

                //  alert(x);
                //ViewBag.ZipCodeAddress = x;
                $('#location1').text("");

                $('#location').text(x);

                /*document.getElementById("location").style.color = "green";     .css('color' : 'green');   */
                $("#loadImg").hide();
            } else {
                $('#location').text("");
                $('#location1').text("Not Found!");
                $("#loadImg").hide();
            }
        });

        //var xhr = new XMLHttpRequest();
        //xhr.open('GET', url, true);
        //xhr.onreadystatechange = function () {
        //    if (xhr.readystate < 4) {
        //        showLoading();
        //    } if (xhr.readystate >= 2 && xhr.status == 200) {
        //        alert("abc");
        //        outputLocation(xhr.responceText);
        //    }
        //}
        //xhr.send();
    }
    function showLoading() {

        //$('#location').text("loading........");

        var target = document.getElementById('location');

        target.innerHTML = 'loading........';
    }

    function outputLocation(data) {
        var targer = document.getElementById('location');
        var json = JSON.parse(data);
        var address = json.results[0].formatted_address;
        targer.innerHTML = address;
    }

    //var button = document.getElementById('ajax-button');
    //button.addEventListener("click", findLocation());

</script>
