
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Intro -->
<section id="intro-3">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>Autmobiles</h4>
                <h2 style="font-weight:700">
                    Best Fitting the Services<br />
                    <span style="font-weight:900">Provided by the platform</span>
                </h2>
                <div class="row" style="margin-top:100px">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a class="btn btn-block" href="@Url.Action("Offer","Home")">Get an Instant Offer</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="intro-img-wp">
                    <img src="~/Content/Frontassets/images/car-img-01.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Intro -->
<!--How it Works-->
<section id="how-work" class="section-padding">
    <div class="container">
        <div class="heading-3 text-center" style="padding-bottom:20px;">
            <h2>How it Work</h2>
            <p>Helps you to find perfect car. But I must explain to you how all this mistaken</p>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 works-text">
                        <h4>Enter Vehicle Details</h4>
                        <p>By filling out our form with accurate information on CarBrain, we can give you an instant offer some  vehicles or contact you with a guaranteed offer shortly after you finish entering your car's details.</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <img src="~/Content/Frontassets/images/HowitWorks/01Step.png" class="center" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="works-image">
                            <img src="~/Content/Frontassets/images/HowitWorks/1a.png" class="img-style" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="works-image">
                            <img src="~/Content/Frontassets/images/HowitWorks/1b.png" class="img-style" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <img src="~/Content/Frontassets/images/HowitWorks/02Step.png" class="center" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 works-text">
                        <h4>Enter Vehicle Details</h4>
                        <p>By filling out our form with accurate information on CarBrain, we can give you an instant offer some  vehicles or contact you with a guaranteed offer shortly after you finish entering your car's details.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 works-text">
                        <h4>Enter Vehicle Details</h4>
                        <p>By filling out our form with accurate information on CarBrain, we can give you an instant offer some  vehicles or contact you with a guaranteed offer shortly after you finish entering your car's details.</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <img src="~/Content/Frontassets/images/HowitWorks/03Step.png" class="center" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="works-image">
                            <img src="~/Content/Frontassets/images/HowitWorks/1c.png" class="img-style" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/How it Works-->
<!--About Us-->
<section id="how-works" class="" style="padding-bottom:250px; padding-top:70px">
    <div class="container">
        <div class="vc_row">
            <div class="col-md-5 vc_col">
                <div class="row">
                    <div class="col-md-12 heading-3">
                        <h2 class="white-text">About Us</h2>
                    </div>
                    <div class="col-md-12 col-sm-12" style="text-align:justify">
                        <p class="white-text">By filling out our form with accurate information on XYZ Motors we can give you an instant offer on some vehicles contact you with a guaranteed offer shortly after you finish entering your oar's details.</p>
                        <p class="white-text">
                            By filling out our form with accurate information on XYZ Motors we can give you an instant offer on some vehicles contact you with a guaranteed offer shortly after you finish entering your oar's details.
                        </p>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="background:#fff; border-radius:10px; padding:10px 0">
                                <h3 class=" text-center" style="margin:0px;">Vehicle Sold: <span style="color:#e16a06; font-weight:500">1000+</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 vc_col"></div>
            <div class="col-md-6 vc_col">
                <div class="row" style="padding-top:50px">

                    <div id="testim" class="testim">
                        <div class="testim-cover">
                            <div class="wrap">

                                <span id="right-arrow" class="arrow right fa fa-chevron-right" style="display:none"></span>
                                <span id="left-arrow" class="arrow left fa fa-chevron-left " style="display:none"></span>
                                <ul id="testim-dots" class="dots">
                                    <li class="dot active"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                </ul>
                                <div id="testim-content" class="cont">

                                    <div class="active">
                                        <div class="img">
                                            <img src="~/Content/Frontassets/images/user.png" alt="">
                                        </div>
                                        <h2>Lorem P. Ipsum</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                    <div>
                                        <div class="img"><img src="~/Content/Frontassets/images/user.png" alt=""></div>
                                        <h2>Mr. Lorem Ipsum</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                    <div>
                                        <div class="img"><img src="~/Content/Frontassets/images/user.png" alt=""></div>
                                        <h2>Lorem Ipsum</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Us-->
<!--Accordian/Toggel FAQ-->
<section id="how-work" class="section-padding">
    <div class="container">

        <h2>Frequently Asked Questions</h2>

        <div class="accordion">
            <div class="accordion-item">
                <a>What can JavaScript Do?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How JavaScript Can Modify HTML and CSS Values?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>What Is SVG?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Is FAQ Section Matters In Website?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How To Create a Light FAQ Element?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Accordian/Toggel FAQ-->